include test.py
include tc.py
include pygossip.py
include pygossip_purge.py
include setup.py
include setup.cfg
include pygossip.cfg
include pygossip.rc
include pygossip.spec
include MANIFEST.in
include COPYING
include CHANGES
include README
include TODO
include gossip/*.py
